body{font-family:Arial,sans-serif;background:#f9fff9;}
h5{
    color:#0a4d20;font-size:18px;
 display: flex;
    align-items: center;}
.product-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 20px;
}
.category-buttons{
    display: flex;
    justify-content: center;
    
}
.cat-btn{
    background:#e6f0e6;border:none;color:#0a4d20;padding:6px 15px;margin-right:8px;border-radius:20px;cursor:pointer;transition:0.3s;font-weight:500}
.cat-btn:hover{
    background:#cce3cc}
.cat-btn.active{
    background:#0a4d20;color:#fff
}
.product-row{
    display:flex;overflow-x:auto;gap:15px;padding-bottom:10px;justify-content: center;
}
.product-card{
    min-width:140px;border-radius:15px;padding:10px;text-align:center;color:#0a4d20;flex-shrink:0;transition:0.3s
}
.product-card img{
    width:100%;height:100px;object-fit:cover;border-radius:10px
}
.product-card h6{
    margin:8px 0 3px;font-size:15px
}
.product-card p{
    font-weight:bold;margin:0
}
.product-card:hover{
    transform:translateY(-5px)
}
::-webkit-scrollbar{
    height:6px
}
::-webkit-scrollbar-thumb{
    background:#b6d1b6;border-radius:10px
}
